<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <div class="page">
        <header class = "header">
            <div class="container header__container">
                <div class="menu-burger__header">
                    <span></span>
                </div>
                <nav class="header__nav">
                    <ul class="menu header__menu">
                        <li><a href="/admin/events" class="menu__item">Events</a></li>
                        <li><a href="/" class="menu__item">Главная</a></li>
                        <li><a href="" class="menu__item">Товары</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="content">
            <div class="container">
                <div class="events-admin">
                    <% if (events.length != 0) { %>
                    <% events.forEach(event => { %>
                        <div class="event-admin" style="border: solid 1px;">
                            <h2><a href="event/<%=event._id %>"><%=event.name %></a></h2>
                            <h><%=event.about %></h4>
                            <h5><%=event.img %></h5>
                        </div>
                    <% }) %>
                    <% }else { %>
                        <h1>1</h1>
                    <% } %>
                </div>
            </div>
        </div>

        <footer>
            <div class="container" style="margin: 0px 5%;">
                    <h2>Footer</h2>  
            </div>
        </footer>
    </div>
</body>
</html>